/* General styling */
.onlinestore-faq-section {
  padding: 5rem 2rem;
  background-color: #a5c8d8;
  margin: 0 auto;
  color: #10242F;
}

/* Website introduction styling */
.onlinestore-intro {
  text-align: center;
  margin-bottom: 3rem;
  width: 50%;
  margin: 1rem auto;
}

.onlinestore-intro h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.onlinestore-intro p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

/* Feature row */
.onlinestore-features-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.onlinestore-feature-box {
  flex: 1;
  max-width: 416px;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  background-color: #f9f9f9;
}

.onlinestore-feature-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.onlinestore-feature-box p {
  font-size: 1.1rem;
}

/* FAQ Section */
.onlinestore-faq-section {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6rem;
}

.onlinestore-faq-left-column {
  flex: 1;
  max-width: 45%;
}

.onlinestore-faq-left-column h2 {
  font-size: 2rem;
}

.onlinestore-faq-right-column {
  flex: 1;
  max-width: 50%;
}

/* Accordion styles */
.onlinestore-accordion {
  background-color: #a5c8d8;
  border-radius: 10px;
}

.onlinestore-accordion-item {
  padding: 1rem;
}

.onlinestore-accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: flex-start;
}

.onlinestore-accordion-title h3 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
}

.onlinestore-accordion-title span {
  font-size: 2rem;
  font-weight: 700;
}

.onlinestore-accordion-content {
  padding: 1rem 0;
}

/* Responsive styling */
@media (max-width: 1024px) {

  .onlinestore-features-row,
  .onlinestore-faq-section {
    flex-direction: column;
    align-items: center;
  }

  .onlinestore-feature-box {
    max-width: 100%;
  }

  .onlinestore-faq-left-column,
  .onlinestore-faq-right-column {
    max-width: 100%;
  }

  .onlinestore-intro {
    width: 70%;
  }

  .onlinestore-accordion-title h3 {
    font-size: 1.6rem;
  }

  .onlinestore-accordion-title span {
    font-size: 1.8rem;
  }

  .onlinestore-accordion-content {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .onlinestore-intro h2 {
    font-size: 2rem;
  }

  .onlinestore-feature-box h3 {
    font-size: 1.4rem;
  }

  .onlinestore-feature-box p {
    font-size: 1rem;
  }

  .onlinestore-faq-left-column h2 {
    font-size: 1.8rem;
  }

  .onlinestore-accordion-title h3 {
    font-size: 1.4rem;
  }

  .onlinestore-accordion-title span {
    font-size: 1.6rem;
  }

  .onlinestore-accordion-content {
    font-size: 1rem;
  }

  .onlinestore-accordion {
    padding: 0.8rem;
  }

  .onlinestore-accordion-item {
    padding: 0.8rem;
  }

  .onlinestore-onlinestore-intro {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .onlinestore-onlinestore-faq-section {
    padding: 1rem 1rem;
  }

  .onlinestore-onlinestore-intro h2 {
    font-size: 1.6rem;
  }

  /* 
  .onlinestore-intro p {
    margin-bottom: 0;
  } */

  .onlinestore-features-row {
    padding: 1rem;
  }

  .onlinestore-faq-section {
    padding: 1rem;
    margin: 0;
  }

  .onlinestore-feature-box p {
    margin-bottom: 0;
  }


  .onlinestore-faq-left-column h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .onlinestore-intro {
    width: 100%;
  }

  .onlinestore-accordion-title h3 {
    font-size: 1.2rem;
  }

  .onlinestore-accordion-title span {
    font-size: 1.4rem;
  }

  .onlinestore-accordion-content {
    font-size: 0.9rem;
  }

  .onlinestore-accordion {
    padding: 0.5rem;
  }

  .onlinestore-accordion-item {
    padding: 0.5rem;
  }

  /* .faq-section {
    margin: 0;
    align-items: center;
  } */
}